<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.buy.brubber">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.MainFragment"
            android:label="@string/title_activity_fragment_main"
            android:theme="@style/AppTheme" />
        <activity android:name=".fragment.RegisterFragment"/>
        <activity android:name=".fragment.EditpassFragment"/>

        <activity android:name=".fragment_C.Checkprice_C_Fragment"/>
        <activity android:name=".fragment_C.Cube_Report_C_Fragment"/>
        <activity android:name=".fragment_C.Latex_Report_C_Fragment"/>
        <activity android:name=".fragment_C.Main_C_Fragment"/>
        <activity android:name=".fragment_C.Money_C_Fragment"/>
        <activity android:name=".fragment_C.Private_C_Fragment"/>
        <activity android:name=".fragment_C.Report_C_Fragment"/>
        <activity android:name=".fragment_C.Sheet_Report_C_Fragment"/>

        <activity android:name=".fragment_O.Add_Customer_O_Fragment"/>
        <activity android:name=".fragment_O.Buy_O_Fragment"/>
        <activity android:name=".fragment_O.Cube_Buy_O_Fragment"/>
        <activity android:name=".fragment_O.Cube_Report_O_Fragment"/>
        <activity android:name=".fragment_O.Customer_O_Fragment"/>
        <activity android:name=".fragment_O.EditPrice_O_Fragment"/>
        <activity android:name=".fragment_O.Latex_Buy_O_Fragment"/>
        <activity android:name=".fragment_O.Latex_Report_O_Fragment"/>
        <activity android:name=".fragment_O.Main_O_Fragment"/>
        <activity android:name=".fragment_O.Report_O_Fragment"/>
        <activity android:name=".fragment_O.Sheet_Buy_O_Fragment"/>
        <activity android:name=".fragment_O.Sheet_Report_O_Fragment"/>

    </application>

</manifest>